[nz-form]:not(.ant-form-inline):not(.ant-form-vertical) {
  max-width: 400px;
  margin: auto;
  text-align: center;
  height: auto;
}

.select {
  width: 150px;
}

.search {
  width: 350px;
  margin-left: 300px;
}

.btn {
  text-align: right;
  margin-left: 880px;
}